{% use "form_div_layout.html.twig" %}

{% block glavweb_security_roles_widget %}
    {% spaceless %}
        <div class="glavweb-security-field-wrapper">
            {% set values = {} %}
            {%- for name, child in form %}
                {%- set values = values|merge({(child.vars.label) : (name)}) %}
            {% endfor -%}

            <h4 class="glavweb-security-header-basic-roles">{% trans %}glavweb_security.header_basic_roles{% endtrans %}</h4>
            {% for name, value in securityRoles %}
                {% set child = form[values[name]] %}

                <div>
                    {{- form_widget(child, {'label': value}) -}}
                </div>
            {% endfor %}

            {% if entityRoles|length %}
                <h4 class="glavweb-security-header-permissions-entities">{% trans %}glavweb_security.header_permissions_entities{% endtrans %}</h4>
                <table class="table">
                    <tr>
                        <td></td>
                        <td>{% trans %}glavweb_security.role.create{% endtrans %}</td>
                        <td>{% trans %}glavweb_security.role.list{% endtrans %}</td>
                        <td>{% trans %}glavweb_security.role.view{% endtrans %}</td>
                        <td>{% trans %}glavweb_security.role.edit{% endtrans %}</td>
                        <td>{% trans %}glavweb_security.role.delete{% endtrans %}</td>
                        <td>{% trans %}glavweb_security.role.export{% endtrans %}</td>
                    </tr>

                    {% for entityName, roleChoices in entityRoles %}
                        <tr><td colspan="7"><strong>{{ entityName }}</strong></td></tr>

                        {% for roleName, roleData in roleChoices %}
                            {% set roleName      = roleData['name'] %}
                            {% set choices       = roleData['roles'] %}
                            {% set roleGroupName = 'glavweb_security.role_group.' ~ roleName|lower %}

                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ roleGroupName|trans }}</td>
                                {% if roleName != 'Master' %}
                                    <td></td>
                                    <td></td>
                                {% endif %}

                                {% for name, value in choices %}
                                    <td title="{{ value }}">
                                        {% set child = form[values[name]] %}
                                        {{- form_widget(child, {'label': false}) -}}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                    {% endfor %}
                </table>
            {% endif %}

        </div>
    {% endspaceless %}
{% endblock %}
